<ion-view view-title="15/16 Season">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-divider">
        HEADER
      </div>
      <div class="item item-image item-body">
        <img src="http://placehold.it/600x200">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p> 
      </div>
      <a href="#" class="item item-icon-left"> <i class="icon ion-person-stalker"></i> Team </a>
      <a href="#" class="item item-icon-left"><i class="icon ion-calendar"></i> Calendar </a>
      <div class="item item-divider">Competitions </div>
      <a href="#" class="item"> Primeira Liga </a>
      <a href="#" class="item"> Taça de Portugal </a>
      <a href="#" class="item"> Europa League </a>
      <a href="#" class="item"> Taça da Liga </a>
      <a href="#" class="item"> Champions League </a>
    </div>
  </ion-content>
</ion-view>
